{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
    <p class="display-4">Account</p>
    <p>Username: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}</p>
    <button id='download-button' value="{{ current_user.username }}" class="btn btn-success">Download My Data</button>
</div>
<script src="{{ url_for('static',filename='scripts/downloadData.js') }}"></script>
{% endblock %}