{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
<p class="display-1 text-center">Bad request</p>
<p class="text-muted text-center">Maybe you are not authorised to access the page or there is some problem with your input</p>
</div>
{% endblock %}