{% extends 'layout.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if current_user.is_authenticated %}
        <li class="breadcrumb-item"><a href="{{ url_for('boards.my_boards',user=current_user.username) }}">My
                boards</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Public
                boards</a></li>
        {% endif %}
        <li class="breadcrumb-item active"><a>{{ board.name }}</a></li>
    </ol>
</nav>
<div class="pt-5 pr-5 pl-5 container-fluid">
    {% if can_edit %}
    <a class="btn btn-warning float-right" href="{{ url_for('members.board_members',user=current_user.username,board=board.id) }}">Members</a>
    {% endif %}
    <p class="display-4 mt-3">{{ board.name }}</p>
    <p class="text-muted">Owner: {{ board.owner.username }}</p>
    {% if board.is_private %}
    <span class="badge badge-primary">Private board</span>
    {% else %}
    <span class="badge badge-secondary">Public board</span>
    {% endif %}
    <p class="h1 mt-4">Cards :</p>
</div>

<div class="row pb-5 pt-0 m-0">
    {% if can_edit %}
    <form method="post" class="border m-3 p-4 bg-white col-lg-6 shadow-sm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control") }}
            {% endif %}

        </div>

        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {% if form.description.errors %}
            {{ form.description(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.description(class="form-control") }}
            {% endif %}

        </div>

        <div class="form-group">
            {{form.submit(class='btn btn-outline-success')}}
        </div>
    </form>
    {% endif %}
    {% if board.cards|length == 0 %}
    <p class="text-muted m-3 border shadow-sm d-flex justify-content-center align-items-center p-5">No cards for this board...</p>
    {% endif %}
    {% for card in board.cards %}
    <div class="border p-4 col m-3 shadow-sm rounded badge-warning d-flex flex-column justify-content-between">
        <a href="{{ url_for('checklists.card',user=board.owner.username,board=board.id,card=card.id) }}"
            class="btn btn-fluid container border p-5 mt-3 mb-4 d-flex flex-column justify-content-start align-items-start bg-warning">
            <p class="h1">{{ card.name }}</p>
            {% if card.description %}
            <p class="text"> {{ card.description }} </p>
            {% else %}
            <p class="text-muted">No description</p>
            {% endif %}
        </a>
        <div class="d-flex justify-content-around">
            {% if can_edit %}
            <a href="{{ url_for('cards.delete_card',card=card.id) }}" class="btn btn-danger mr-4">Delete</a>
            <a href="{{ url_for('cards.update_card',card=card.id) }}" class="btn btn-secondary">Update</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}