{% extends 'layout.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if current_user.is_authenticated %}
        <li class="breadcrumb-item"><a href="{{ url_for('boards.my_boards',user=current_user.username) }}">My
                boards</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Public
                boards</a></li>
        {% endif %}
        <li class="breadcrumb-item active"><a
                href="{{ url_for('cards.my_board',user=card.board.owner.username, board=card.board.id) }}">{{ card.board.name }}</a>
        </li>
        <li class="breadcrumb-item active"><a>{{ card.name }}</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <h1 class="display-4 mt-4">{{ card.name }}</h1>
    <p class="badge badge-warning ml-2">{{ card.board.name }}</p>
    <p>{{ card.description }}</p>
    <p class="h1 mt-4 mb-4">Checklists :</p>
    <div class="row m-0">

        {% if can_edit %}
        <form method="post" class="border p-4 bg-white col-12 shadow-sm">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control") }}
                {% endif %}

            </div>

            <div class="form-group">
                {{form.submit(class='btn btn-outline-success')}}
            </div>
        </form>
        {% endif %}
        {% if card.checklists|length == 0 %}
        <p class="text-muted col border p-5 d-flex justify-content-center align-items-center shadow-sm"> No
            checklist
            for this card.. </p>
        {% else %}
        {% for checklist in card.checklists %}
        <div id="checklist-{{ checklist.id }}"
            class="col-12 col-lg-4 col-md-6 col-sm-12 border p-3 p-sm-5 p-md-3 p-lg-5 d-flex flex-column justify-content-start align-items-center shadow-sm bg-warning rounded-lg">
            <div class="w-100 mb-4 d-flex flex-row-reverse justify-content-between">
                {% if can_edit %}
                <a class="align-self-end btn ml-5 mr-0 btn-danger delete-checklist-button"
                    id="delete-checklist-{{ checklist.id }}">&times</a>
                {% endif %}
                <p class="h3 border-bottom w-100">{{ checklist.name }}</p>
            </div>
            {% if can_edit %}
            <div class="row mb-1 d-flex flex-row flex-nowrap w-100">
                <input class="checklist-input form-control" id="checklist-{{ checklist.id }}-input" type="text">
                &nbsp&nbsp
                <button id="checklist-button-{{ checklist.id }}" value="{{ checklist.id }}"
                    class="checklist-button btn btn-dark">Add</button>
            </div>
            {% endif %}
            <div class="align-self-start mt-1 w-100">
                <ul id="checklist-{{ checklist.id }}-items" class="list-items list-group">
                    {% for item in checklist.checklist_items %}
                    {% if item.is_checked == True %}
                    <li id="checklist-item-{{ item.id }}"
                        class="list-group-item d-flex flex-row wrap-nowrap justify-content-between align-items-center">
                        <div>
                            {% if can_edit %}
                            <input type="checkbox" class="checklist-checkbox" id="{{ checklist.id }}-{{ item.id }}"
                                checked>
                            {% else %}
                            <input type="checkbox" class="checklist-checkbox" id="{{ checklist.id }}-{{ item.id }}"
                                checked disabled>
                            {% endif %}
                            {% else %}
                    <li id="checklist-item-{{ item.id }}"
                        class="list-group-item d-flex flex-row wrap-nowrap justify-content-between align-items-center">
                        <div>
                            {% if can_edit %}
                            <input type="checkbox" class="checklist-checkbox" id="{{ checklist.id }}-{{ item.id }}">
                            {% else %}
                            <input type="checkbox" class="checklist-checkbox" id="{{ checklist.id }}-{{ item.id }}" disabled>
                            {% endif %}
                            {% endif %}
                            &nbsp {{ item.content }}
                        </div>
                        {% if can_edit %}
                        <a class="btn btn-sm btn-danger delete-checklist-item-button"
                            id="delete-{{ checklist.id }}-{{ item.id }}">Delete</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
<script src="{{ url_for('static',filename="scripts/checklist.js") }}"></script>
{% endblock %}