{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <h1 class="display-4 m-3">Public cards</h1>
    {% if boards|length == 0 %}
    <p class="container-fluid border p-4 mt-3 mb-3 d-flex flex-column justify-content-start align-items-start">No Public
        boards available</p>
    {% endif %}
    <div class="row">
        {% for board in boards %}
        <a href="{{ url_for('cards.my_board',user=board.owner.username,board=board.id) }}"
            class="btn btn-fluid container border p-5 m-4 d-flex flex-column justify-content-between align-items-start shadow-sm col-lg bg-warning">
            <p class="display-4 float-left border-bottom">{{ board.name }}</p>
            <div class="d-flex flex-column align-items-start">
                <small class="text-muted mb-3">owner: {{ board.owner.username }}</small>
                <span class="badge badge-secondary pr-2 pl-2">Public</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}