{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
<p class="display-1 text-center">Bad request</p>
<p class="text-muted text-center">Please check the input you have provided</p>
</div>
{% endblock %}