<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% if page_title %}
    <title>Trello.com {{page_title}}</title>
    {% else %}
    <title>Trello.com</title>
    {% endif %}
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg transperent-1 navbar-light bg-white p-4 shadow-sm">
        <div class="container-fluid">
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="{{ url_for('boards.my_boards',user=current_user.username) }}">Trello.com</a>
            {% else %}
            <a class="navbar-brand" href="{{ url_for('main.home') }}">Trello.com</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class=" nav-item">
                        <a class="nav-link" href="{{ url_for('users.account',user=current_user.id) }}"><i>{{ current_user.email}}</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('authentication.logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('authentication.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('authentication.signup') }}">Register</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- <ul class="navbar-nav w-100 border-bottom" id='search'>
        <li class=" nav-item mr-auto ml-auto position-relative w-75">
            <a class="nav-link " href="#"><input id="search-bar" placeholder="Search"
                    class="form-control ml-lg-auto mr-lg-auto" type="text">
                <ul id='search-results' class="position-absolute list-group w-100">

                </ul>
            </a>
        </li>
    </ul> -->
    {% block content %}{% endblock %}
    <!-- <script src="{{ url_for('static',filename='scripts/search.js') }}"></script> -->
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>