{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="display-4 mt-4">Login</h1>
    <div class="row border rounded shadow-sm">
        <div class="col-1 bg-warning"> </div>
        <div class="col border p-4  bg-white">
            <form method="POST" class="d-flex flex-column p-1 p-sm-3 p-md-4 p-lg-5 m-0">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{form.submit(class='btn btn-outline-success')}}
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}