{% extends 'layout.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if current_user.is_authenticated %}
        <li class="breadcrumb-item"><a href="{{ url_for('boards.my_boards',user=current_user.username) }}">My
                boards</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Public
                boards</a></li>
        {% endif %}
        <li class="breadcrumb-item active"><a
                href="{{ url_for('cards.my_board',user=board.owner.username, board=board.id) }}">{{ board.name }}</a>
        </li>
        <li class="breadcrumb-item active"><a>Members</a></li>
    </ol>
</nav>

<div class="container-fluid">
    <h1 class="display-4">Members
    </h1>
</div>
<div class="container-fluid">
    <div class="row-sm-12 row m-2">
        {% if can_edit %}
        <form method="post" class="border p-4 bg-white col-lg-6 col-12 shadow-sm">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.add_member.label(class="form-control-label") }}
                {{ form.add_member(class="form-control") }}

            </div>

            <div class="form-group">
                {{form.submit(class='btn btn-outline-success')}}
            </div>
        </form>
        {% endif %}
        {% for member in members %}
        <div class="col bg-warning p-5 border shadow-sm">
            {% if member.board_member.is_admin == True %}
            <p class="display-4">{{ member.board_member_info.username }}</p><span
                class="badge badge-success">ADMIN</span>
            {% else %}
            <p class="display-4">{{ member.board_member_info.username }}</p>
            <p class="text-muted">{{ member.board_member_info.email }}</p>
            <p class="badge badge-secondary">member</p><br>
            {% if can_edit %}
            <a class="remove-member-btn btn btn-danger"
                id='remove-{{ member.board_member_info.id }}-{{ member.board_member.board_id }}'>Remove</a>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
<script src="{{ url_for('static',filename="scripts/removeBoardMembers.js") }}"></script>
{% endblock %}