{% extends 'layout.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a">All boards</a>
        </li>
    </ol>
</nav>
<h1 class="display-4 ml-4">My Boards</h1>

<div class="m-4 row">
    <form method="post"
        class="border p-4 mt-2 mb-2 mr-1 ml-1 bg-white shadow-sm col-lg-6 d-flex flex-column justify-content-around">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control") }}
            {% endif %}

        </div>

        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {% if form.description.errors %}
            {{ form.description(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.description(class="form-control") }}
            {% endif %}

        </div>


        <div class="form-group">
            {{ form.is_private.label(class="form-control-label") }}
            {% if form.is_private.errors %}
            {{ form.is_private(class="is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.is_private.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.is_private(class="") }}
            {% endif %}

        </div>
        <div class="form-group">
            {{form.submit(class='btn btn-outline-success')}}
        </div>
    </form>

    {% if all_boards|length ==0 %}
    <p
        class="text-muted container p-3 mt-2 mb-2 mr-1 ml-1 d-flex justify-content-center align-items-center border p-3 col shadow-sm">
        No personal boards available....</p>
    {% endif %}

    {% for board in all_boards %}
    <div class="border p-4 mt-2 mb-2 mr-1 ml-1 shadow-sm d-flex flex-column justify-content-between bg-warning col">
        <a href="{{ url_for('cards.my_board',user=board.owner.username,board=board.id) }}"
            class="btn btn-fluid container p-4 pb-0 mt-3 mb-0 d-flex flex-column justify-content-between align-items-start">
            <p class="h1 text-left">{{ board.name }}</p>
            <div class="text-left mb-2">
                <span class="badge badge-secondary">My board</span>
                {% if board.is_private %}
                <span class="badge badge-dark">Private</span>
                {% else %}
                <span class="badge badge-light">Public</span>
                {% endif %}
            </div>
            {% if board.description %}
            <p> {{ board.description }} </p>
            {% else %}
            <p class="text-muted">No description </p>
            {% endif %}
        </a>
        <div class="d-flex justify-content-around border-top pt-4">
            <a href="{{ url_for('boards.delete_board',board=board.id) }}" class="btn btn-danger mr-4">Delete</a>
            <a href="{{ url_for('boards.update_board',board=board.id) }}" class="btn btn-secondary">Update</a>
        </div>
    </div>
    {% endfor %}

    {% for board in all_shared_boards %}
    <div class="border p-4 mt-2 mb-2 mr-1 ml-1 shadow-sm d-flex flex-column justify-content-between bg-warning col">
        <a href="{{ url_for('cards.my_board',user=board.owner.username,board=board.id) }}"
            class="btn btn-fluid container p-4 pb-0 mt-3 mb-0 d-flex flex-column justify-content-between align-items-start">
            <p class="h1 text-left">{{ board.name }}</p>
            <div class="text-left mb-2">
                <span class="badge badge-success">Owner: {{ board.owner.username }}</span>
                <span class="badge badge-secondary">Shared board</span>
                {% if board.is_private %}
                <span class="badge badge-dark">Private</span>
                {% else %}
                <span class="badge badge-light">Public</span>
                {% endif %}
            </div>
            {% if board.description %}
            <p> {{ board.description }} </p>
            {% else %}
            <p class="text-muted">No description </p>
            {% endif %}
        </a>
        <div class="d-flex justify-content-around border-top pt-4">
            <a href="{{ url_for('boards.delete_board',board=board.id) }}" class="btn btn-danger mr-4">Delete</a>
            <a href="{{ url_for('boards.update_board',board=board.id) }}" class="btn btn-secondary">Update</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}