{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
<p class="display-1 text-center">Not Found</p>
<p class="text-muted text-center">Maybe you have made some mistake in the URL</p>
</div>
{% endblock %}