{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="display-4">Update card</h1>
    <form method="post" class="border p-4 bg-white shadow-sm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control") }}
            {% endif %}

        </div>

        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {% if form.description.errors %}
            {{ form.description(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.description(class="form-control") }}
            {% endif %}

        </div>

        <div class="form-group">
            {{form.submit(class='btn btn-outline-success')}}
        </div>
    </form>
    {% endblock %}